<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:p="http://www.springframework.org/schema/p"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

  <!--1. BeforeAdvice -->
  <bean id="target1" class="com.smart.advice.NaiveWaiter"/>
  <bean id="greetingBeforeAdvice" class="com.smart.advice.GreetingBeforeAdvice"/>
  <bean id="waiter1" class="org.springframework.aop.framework.ProxyFactoryBean"
    p:target-ref="target1"
    p:interceptorNames="greetingBeforeAdvice"
    p:proxyInterfaces="com.smart.advice.Waiter"/>

  <!--2. AfterAdvice -->
  <bean id="target2" class="com.smart.advice.NaiveWaiter"/>
  <bean id="greetingAfterAdvice" class="com.smart.advice.GreetingAfterAdvice"/>
  <bean id="waiter2" class="org.springframework.aop.framework.ProxyFactoryBean"
    p:target-ref="target2"
    p:interceptorNames="greetingAfterAdvice"
    p:proxyInterfaces="com.smart.advice.Waiter"/>

  <!--3. BeforeAdvice AND AfterAdvice -->
  <bean id="target3" class="com.smart.advice.NaiveWaiter"/>
  <bean id="greetingBeforeAdvice1" class="com.smart.advice.GreetingBeforeAdvice"/>
  <bean id="greetingAfterAdvice1" class="com.smart.advice.GreetingAfterAdvice"/>
  <bean id="waiter3" class="org.springframework.aop.framework.ProxyFactoryBean"
    p:target-ref="target3"
    p:interceptorNames="greetingBeforeAdvice1,greetingAfterAdvice1"
    p:proxyInterfaces="com.smart.advice.Waiter"/>

  <!--4. AroundAdvice -->
  <bean id="target4" class="com.smart.advice.NaiveWaiter"/>
  <bean id="greetingAround" class="com.smart.advice.GreetingInterceptor"/>
  <bean id="waiter4" class="org.springframework.aop.framework.ProxyFactoryBean"
    p:target-ref="target4"
    p:interceptorNames="greetingAround"
    p:proxyInterfaces="com.smart.advice.Waiter"/>

  <!--5. 异常抛出增强  -->
  <bean id="target5" class="com.smart.advice.ForumService"/>
  <bean id="transactionManager" class="com.smart.advice.TransactionManager"/>
  <bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
    p:target-ref="target5"
    p:interceptorNames="transactionManager"
    p:proxyTargetClass="true"/>//ForumService是类，使用CGLib代理

</beans>
