<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:p="http://www.springframework.org/schema/p"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

  <bean class="com.smart.advice.GreetingBeforeAdvice" id="greetingBefore"/>
  <bean class="com.smart.advice.GreetingAfterAdvice" id="greetingAfter"/>
  <bean class="com.smart.advice.GreetingBeforeAdvice" id="greetingAdvice"/>
  <bean class="com.smart.advice.GreetingInterceptor" id="greetingAround"/>
  <bean class="com.smart.advice.NaiveWaiter" id="target"/>


  <!--1. greetingAdvice -->
  <!--
      bean id="waiter"
      class="org.springframework.aop.framework.ProxyFactoryBean"
      p:proxyInterfaces="com.smart.advice.Waiter" p:target-ref="target"
      p:interceptorNames="greetingAdvice"/
  -->


  <!--2. before and after advice -->
  <!--
      bean id="waiter"
      class="org.springframework.aop.framework.ProxyFactoryBean"
      p:proxyInterfaces="com.smart.advice.Waiter" p:target-ref="target"
      p:interceptorNames="greetingBefore,greetingAfter"/
  -->
  <!--3. around advice -->
  <bean class="org.springframework.aop.framework.ProxyFactoryBean" id="waiter"
    p:interceptorNames="greetingAround" p:proxyInterfaces="com.smart.advice.Waiter"
    p:target-ref="target"/>


  <!--4. 异常抛出增强  -->
  <bean class="com.smart.advice.ForumService" id="forumServiceTarget"/>
  <bean class="com.smart.advice.TransactionManager" id="transactionManager"/>
  <bean class="org.springframework.aop.framework.ProxyFactoryBean" id="forumService"
    p:interceptorNames="transactionManager"
    p:proxyTargetClass="true"
    p:target-ref="forumServiceTarget"/>

</beans>
