<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:p="http://www.springframework.org/schema/p"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

  <!-- 静态方法匹配器切点切面 -->
  <bean id="waiterTarget" class="com.smart.advisor.Waiter"/>
  <bean id="sellerTarget" class="com.smart.advisor.Seller"/>
  <bean id="greetingAdvice" class="com.smart.advisor.GreetingBeforeAdvice"/>
  <bean id="greetingAdvisor" class="com.smart.advisor.GreetingAdvisor"
    p:advice-ref="greetingAdvice"/>
  <bean id="parent" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean"
    p:interceptorNames="greetingAdvisor"
    p:proxyTargetClass="true"/>
  <bean id="waiter" parent="parent"
    p:target-ref="waiterTarget"/>
  <bean id="seller" parent="parent"
    p:target-ref="sellerTarget"/>


  <!-- 正则方法切点切面 -->
  <bean id="waiterTarget1" class="com.smart.advisor.Waiter"/>
  <bean id="greetingAdvice1" class="com.smart.advisor.GreetingBeforeAdvice"/>
  <bean id="regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
    p:advice-ref="greetingAdvice1">
    <property name="patterns">
      <list>
        <value>.*greet.*</value>
      </list>
    </property>
  </bean>
  <bean id="waiter1" class="org.springframework.aop.framework.ProxyFactoryBean"
    p:interceptorNames="regexpAdvisor"
    p:proxyTargetClass="true"
    p:target-ref="waiterTarget1"/>


  <!-- 动态切面 -->
  <bean id="pointcut" class="com.smart.advisor.GreetingDynamicPointcut"/>
  <bean id="advice" class="com.smart.advisor.GreetingBeforeAdvice"/>
  <bean id="dynamicAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor"
    p:pointcut-ref="pointcut"
    p:advice-ref="advice"/>
  <bean id="waiter2" class="org.springframework.aop.framework.ProxyFactoryBean"
    p:interceptorNames="dynamicAdvisor"
    p:proxyTargetClass="true"
    p:target-ref="waiterTarget"/>

  <!-- 控制流程切面 -->
  <bean class="org.springframework.aop.support.ControlFlowPointcut" id="controlFlowPointcut">
    <constructor-arg type="java.lang.Class"
      value="com.smart.advisor.WaiterDelegate"/>
    <constructor-arg type="java.lang.String" value="service"/>
  </bean>
  <bean id="controlFlowAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor"
    p:advice-ref="greetingAdvice"
    p:pointcut-ref="controlFlowPointcut"/>
  <bean id="waiter3" class="org.springframework.aop.framework.ProxyFactoryBean"
    p:interceptorNames="controlFlowAdvisor"
    p:proxyTargetClass="true"
    p:target-ref="waiterTarget"/>

  <!-- 复合切点切面 -->
  <bean id="gcp" class="com.smart.advisor.GreetingComposablePointcut"/>
  <bean id="composableAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor"
    p:advice-ref="greetingAdvice"
    p:pointcut="#{gcp.intersectionPointcut}"/>
  <bean id="waiter4" class="org.springframework.aop.framework.ProxyFactoryBean"
    p:interceptorNames="composableAdvisor"
    p:proxyTargetClass="true"
    p:target-ref="waiterTarget"/>

  <!--引入切面-->
  <bean id="introduceAdvisor" class="org.springframework.aop.support.DefaultIntroductionAdvisor">
    <constructor-arg>
      <bean class="com.smart.introduce.ControllablePerformanceMonitor"/>
    </constructor-arg>
  </bean>
  <bean id="forumServiceTarget" class="com.smart.introduce.ForumService"/>
  <bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
    p:interceptorNames="introduceAdvisor"
    p:proxyTargetClass="true"
    p:target-ref="forumServiceTarget"/>
</beans>
